<!DOCTYPE html>
<html>
<head>
    <title>Editar Paciente</title>
</head>
<body>

<h1>Editar Paciente</h1>

<form action="/editar/<%= paciente.id %>" method="POST">

    <input
        type="text"
        name="nombre"
        value="<%= paciente.nombre %>"
    >

    <br><br>

    <input
        type="email"
        name="correo"
        value="<%= paciente.correo %>"
    >

    <br><br>

    <button type="submit">
        Guardar Cambios
    </button>

</form>

</body>
</html>